/*
Gavin Magee
4/19/19
CSc 337

This file holds all styling information
for the mancala.html code for the final
mancala project.  All functionality is handled
in the mancala.js file where page contents
are held in mancala.html.

File Dependencies:
mancala.js
mancala_service.js
mancala.html
boards.txt
app.json
package.json
*/
h1, h3 {
	background-color: #E9EB9E;
	box-shadow: 2px 2px gray;
	margin: auto;
}

h1 {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

h3 {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-bottom: 20px;
}

body {
	background-color: #49475B;
	text-align: center;
}

fieldset, h1, h3 {
	width: 30%;
}

fieldset {
	border-radius: 20px;
	margin-bottom: 30px;
}

#entryscreen label {
	font-family: cursive, sans-serif;
}

#winscreen h2 {
	color: green;
	font-family: "Comic Sans MS", serif;
}

button, input {
	margin-top: 10px;
}

legend {
	text-align: left;
}

#mancboard, #termboard {
	border-radius: 15px;
	height: 40%;
	width: 40%;
}

#mancboard {
	float: right;
}

#termboard {
	float: left;
}

.hidden {
	display: none;
}

canvas {
	background-color: #ACC196;
}

table {
	margin-top: 20px;
}

table, td, th {
	border: 2px solid black;
}

#entryscreen label, td {
	color: red;
}

#mancboard, .shown, #termboard {
	display: block;
}

fieldset, table {
	margin-left: auto;
	margin-right: auto;
}